div{
    border-style: solid transparent;
    border-width: 5px;
    border-color: black;
    padding: 30px;
}
body{ 
  background: url(http://www.lafamilylawattorney.com/downtown_los_angeles_california_op_580x291.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    border-color: black;
}

.row {
    border-color: black;
}
.list-group-item {
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
SCSS

.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
 
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0,0,0);
    z-index: 99;
}
 
.responsive-menu{
    display: none;
}
 
.expand {
    display: block !important; 
}

@media (max-width: 320px) {

}
@media screen and (max-width:959px){
#container{
    width:100%;
}
#left-column{
width:70%;
}
#right-column{
width: 30%;
}
img{
    width:100%;
    
}
}
@media screen and (max-width: 640px) {
    #left-column{
width:70%;
}
#right-column{
width: 30%;
}
@media screen and (max-width:320px) {
    #container{
        width: 320px;
     
    }
}