div{
    border-style: solid transparent;
    border-width: 5px;
    border-color: black;
    padding: 30px;
}
body{ 
  background: url(http://dennisdillinger.com/KDimages/scenic10.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    border-color: black;
}

.row {
    border-color: black;
}
.list-group-item {
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}